*.sqlite
/.venv
/venv
/__pycache__
methods/__pycache__
/SpaceMAP
.vscode/
/assets/
/GLLE/
/ParamRepulsor/
/cl-MDS/
assets/thumbnails/*
assets/resized/*
asssets/visualizations/*
public/favicon.ico
*.bak   
backup
*.lock
*.lockb
node_modules
*.test.js